<!-- <div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8"> -->
    <div id="edit-form-user" class="text-center hidden">
      <%= simple_form_for(@user) do |f| %>
        <%= f.input :avatar %>
        <%= f.input :avatar_cache, as: :hidden %>
        <%= f.input :username %>
        <%= f.input :bio %>
        <%= f.submit class: "btn btn-primary"%>
      <% end %>
    </div>
<!--   </div>
</div> -->
