<!-- WARNING : Change popover values manually if needed -->

<div class="steps">
    <ul class="steps-container">
        <!-- <li style="width:25%;" class="activated"> -->
        <li style="width:25%;" class="<%= 'activated' if @user.level >= 0 %>" id="<%= 'current' if @user.level == 0 %>">
            <div class="step">
              <a href="#" title="You can:" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="- Upvote Creators">
                <div class="step-image"><span></span></div>
                <div class="step-name">Viewer</div>
              </a>
            </div>
        </li>
        <li style="width:25%;" class="<%= 'activated' if @user.level >= 1 %>" id="<%= 'current' if @user.level == 1 %>">
            <div class="step">
              <a href="#" title="You can" data-toggle="popover" data-html=true data-placement="bottom" data-trigger="hover" data-content="- Upvote Creators <br>- Showcase one Creator per week" >
                <div class="step-image"><span></span></div>
                <div class="step-name">Basic digger</div>
              </a>
            </div>
        </li>
        <li style="width:25%;" class="<%= 'activated' if @user.level >= 2 %>" id="<%= 'current' if @user.level == 2 %>">
            <div class="step">
              <a href="#" title="You can" data-toggle="popover" data-html=true data-placement="bottom" data-trigger="hover"
                data-content="- Upvote Creators <br>- Showcase one Creator per week <br>- Get your Creator highlighted in the weekly ranking">
                <div class="step-image"><span></span></div>
                <div class="step-name">Advanced digger</div>
              </a>
            </div>
        </li>
        <li style="width:25%;" class="<%= 'activated' if @user.level >= 3 %>" id="<%= 'current' if @user.level == 3 %>">
            <div class="step">
              <a href="#" title="You can" data-toggle="popover" data-html=true data-placement="bottom" data-trigger="hover" data-content="- Upvote Creators <br>- Showcase one Creator per week <br>- Get your Creator highlighted in the weekly ranking <br>- Write a 'Team's choice' recommendation">
                <div class="step-image"><span></span></div>
                <div class="step-name">Expert digger</div>
              </a>
            </div>
        </li>
    </ul>
    <% @width = 0 %>
    <% case @user.level %>
    <% when 0 %>
      <% @width = "width:25%;" %>
    <% when 1 %>
      <% @width = "width:50%;" %>
    <% when 2 %>
      <% @width = "width:75%;" %>
    <% when 3 %>
      <% @width = "width:100%;" %>
    <% end %>
    <div class="step-bar" style="<%= @width %>"></div>
</div>
