<!-- WARNING : Change popover values manually if needed -->

<div class="steps">
    <ul class="steps-container">
        <li style="width:25%;" class="<%= 'activated' if user.level >= 0 %>" id="<%= 'current' if user.level == 0 %>">
            <div class="step">
              <a href="#" title="Steps" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Sign up">
                <div class="step-image"><span></span></div>
                <div class="step-name">Viewer</div>
              </a>
            </div>
        </li>
        <li style="width:25%;" class="<%= 'activated' if user.level >= 1 %>" id="<%= 'current' if user.level == 1 %>">
            <div class="step">
              <a href="#" title="Steps" data-toggle="popover" data-html=true data-placement="bottom" data-trigger="hover"
              <% if user.min_upvotes.nil? || user.min_upvotes - user.upvotes.length == 0  %>
                data-content="You are a <%= current_user.level_name %> !"
              <% else %>
                data-content="Upvote at least <%= user.min_upvotes %> creators"
              <% end %>
              >
                <div class="step-image"><span></span></div>
                <div class="step-name">Basic digger</div>
              </a>
            </div>
        </li>
        <li style="width:25%;" class="<%= 'activated' if user.level >= 2 %>" id="<%= 'current' if user.level == 2 %>">
            <div class="step">
              <a href="#" title="Steps" data-toggle="popover" data-html=true data-placement="bottom" data-trigger="hover"
                data-content="Dig at least 1 creator <br> Receive at least 50 upvotes on your digs">
                <div class="step-image"><span></span></div>
                <div class="step-name">Advanced digger</div>
              </a>
            </div>
        </li>
        <li style="width:25%;" class="<%= 'activated' if user.level >= 3 %>" id="<%= 'current' if user.level == 3 %>">
            <div class="step">
              <a href="#" title="Steps" data-toggle="popover" data-html=true data-placement="bottom" data-trigger="hover" data-content="Dig at least 2 creators <br> Receive at least 100 upvotes on your digs">
                <div class="step-image"><span></span></div>
                <div class="step-name">Expert digger</div>
              </a>
            </div>
        </li>
    </ul>
    <% @width = 0 %>
    <% case user.level %>
    <% when 0 %>
      <% @width = "width:25%;" %>
    <% when 1 %>
      <% @width = "width:50%;" %>
    <% when 2 %>
      <% @width = "width:75%;" %>
    <% when 3 %>
      <% @width = "width:100%;" %>
    <% end %>
    <div class="step-bar" style="<%= @width %>"></div>
</div>
