<div class="container">

  <div class="card user-infos text-center">
    <div class="user-infos-content">
      <% if @user.avatar.nil? %>
        <%= image_tag 'default-avatar', alt: @user.username, class: "avatar-large" %>
      <% else %>
        <%= image_tag @user.avatar, alt: @user.username, class: "avatar-large" %>
      <% end %>
      <h3><%= @user.username %></h3>
      <p><%= @user.bio %></p>
    </div>
  </div>

  <% if current_user == @user  %>
    <div class="card">
      <h2>My journey</h2>
      <p>My current status: <%= @user.level_name %></p>
      <%# render 'progress' %>
      <h3>Steps to level up</h3>
      <% if @user.level == 0 %>
        <ul>
          <li>Upvote at least 10 creators</li>
        </ul>
      <% elsif @user.level == 3 %>
        <p>You're already an <%= @user.level_name %>!</p>
      <% else %>
        <ul>
          <li>Dig at least <%= pluralize @user.dig_needed, "creator" %></li>
          <li>Receive at least <%= pluralize @user.upvotes_needed, "upvote" %> on the creators you dug</li>
        </ul>
      <% end %>
    </div>
  <% end %>

  <div class="card">
    <h2>My digs</h2>
    <ul class="list-unstyled">
      <% @user.creators.each do |creator| %>
        <li><%= creator.youtube_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="card">
    <h2>My upvotes</h2>
    <ul class="list-unstyled">
      <% @user.upvotes.each do |upvote| %>
        <li><%= Creator.find(upvote_id).youtube_name %></li>
      <% end %>
    </ul>
  </div>
</div>
