<div class="beta-tip text-center">
  <h1><%= link_to t('.beta-tip'), 'https://insights.hotjar.com/s?siteId=874983&surveyId=53050', target: "_blank"  %></h1>
</div>
<div class="container">
  <div class="col">
    <div class="col-md-3">
      <div class="card user-infos text-center card-charcoal">
        <div class="user-infos-container">
          <div class="user-header">
            <% if @user.avatar.nil? %>
              <%= image_tag 'default-avatar', alt: @user.username, class: "avatar-large" %>
            <% else %>
              <%= image_tag @user.avatar.url, alt: @user.username, class: "avatar-large" %>
            <% end %>
            <h3><%= @user.username %></h3>
          </div>
          <div class="user-infos-content" id="id-user-infos">
            <div class="bio-section text-left">
              <h4><%= t('.about') %></h4>
              <% if (@user.bio.nil? || @user.bio.empty?) && current_user == @user %>
                <p><strong><%= t('.about-empty') %></strong></p>
              <% else %>
                <p><%= @user.bio %></p>
              <% end %>
              <p>
                <i class="fas fa-map-marker-alt"></i> <%= @user.location %>
              </p>
              <% if @user == current_user %>
                <% if @user.private %>
                  <p>
                    <i class="fas fa-lock"></i> <%= t('.private') %>
                    <sup><i class="far fa-question-circle" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="<%= t('.private-hint') %>"></i></sup>
                  </p>
                <% else %>
                  <p>
                    <i class="fas fa-unlock"></i> <%= t('.public') %>
                    <sup><i class="far fa-question-circle" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="<%= t('.public-hint') %>"></i></sup>
                  </p>
                <% end %>
              <% end %>
            </div>
            <div class="bio-section text-left">
              <h4><%= t('.status') %></h4>
              <p><%= @user.level_name %></p>
            </div>
            <div class="bio-section text-left">
              <h4><%= t('.tags-liked') %></h4>
              <ul class="list-unstyled">
                <% @user.tag_list.each do |tag| %>
                  <li># <%= tag %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <% if current_user == @user  %>
          <%= render 'form_edit' %>
          <%= link_to "", "#", class: "fas fa-edit", id:"edit-user-btn" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-9">
      <% if current_user == @user %>
        <div class="card card-gold">
          <h2 class="achievements-title"><%= t('.profile-title') %></h2>
          <div class="achievements">
            <div class="progress-bar-container hidden-xs hidden-sm">
              <%= render 'shared/progress', user: @user %>
            </div>
            <div class="divider hidden-xs hidden-sm"></div>
            <%= render 'shared/progress_next_steps', user: @user %>
          </div>
        </div>
      <% end %>

      <div class="card card-charcoal">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs custom-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#digs" aria-controls="digs" role="tab" data-toggle="tab">
            <% if current_user == @user %>
              <%= t('.current-user-digs') %> (<%= @user.creators.length %>)
            <% else %>
              <%= t('.user-digs', user: @user.username) %> (<%= @user.creators.length %>)
            <% end %>
          </a>
          </li>
          <li role="presentation"><a href="#upvotes" aria-controls="upvotes" role="tab" data-toggle="tab">
            <% if current_user == @user %>
              <%= t('.current-user-upvotes') %> (<%= @user.upvotes.length %>)
            <% else %>
              <% unless @user.private %>
                <%= t('.user-upvotes', user: @user.username) %> (<%= @user.upvotes.length %>)
              <% end %>
            <% end %>
          </a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="digs">
            <ul class="list-unstyled">
              <% @user.creators.each do |creator| %>
                <%= render 'shared/creator', :creator => creator %>
              <% end %>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="upvotes">
            <ul class="list-unstyled">
              <% @user.upvotes.each do |upvote| %>
                <% creator = Creator.find(upvote.creator_id) %>
                <%= render 'shared/creator', :creator => creator %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
