<div class="container show-form"">
  <div class="row">
    <div class="col-xs-6 text-center">

      <h1> Waouw, we found your creator! 🎉🎉🎉</h1>

      <div class="card card-showcased" id="show-form-card">
        <div id="avatar-name-div">
          <% unless @youtube_data[:avatar_photo].nil? %>
          <%= cl_image_tag @youtube_data[:avatar_photo], class: "avatar-showcased-creator" %>
          <% end %>
        </div>
          <div class="name-figures"></div>
            <h3 class="showcased-name"> <%=@creator.youtube_name %></h3>
            <p><%= @youtube_data[:nb_followers] %> Followers </p>
            <p><%= @youtube_data[:nb_videos]%> Videos Uploaded</p>
      </div>
    </div>
    <div class="col-xs-6">
      <h1 class="text-center"> Add some information to your review 🎬🎬🎬</h1>
      <div>
        <% if @creator.errors.messages.any? %>
          <p><%= @creator.errors.full_messages %></p>
        <% end %>
      </div>
      <div class="card form-card">

      <%= simple_form_for @creator, url: create_creators_path do |f| %>
        <!-- [...] -->
        <div class="form-inputs">
         <!--  <%= f.input :youtube_name%> -->
          <%= f.input :description, label: "Write the review about #{@creator.youtube_name}, explain what makes you vibrate..."%>
          <%= f.input :video_url, label: "Pick a video that embodies the most #{@creator.youtube_name}" %>

          <%= f.input :tag_list, label: "Add a few tag applying to #{@creator.youtube_name}", hint: "Add several tags separated with commas",  value: f.object.tag_list.to_s %>

          <!-- [Hidden-Fields] -->
          <%= f.hidden_field :channel_url, error: "COUCOU" %>
          <%= f.hidden_field :youtube_name %>
          <%= f.hidden_field :avatar_photo %>
          <%= f.hidden_field :nb_followers %>
          <%= f.hidden_field :country %>
          <%= f.hidden_field :language, class: " bfh-languages"%>
        </div>
        <!-- [...] -->
         <div class="form-actions text-center">
          <%= f.submit "Add #{@creator.youtube_name}", class: "btn btn-primary" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
