<% if user_signed_in? %>
  <div class="modal fade" id="creator-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <% if current_user.allowed_to_upload? %>
            <h5 class="modal-title" id="exampleModalLabel"><%= t('.title') %></h5>
          <% else %>
            <h5 class="modal-title" id="exampleModalLabel">🚫</h5>
          <% end %>
        </div>
        <div class="modal-body">
          <% if current_user.allowed_to_upload? %>
            <% @new_creator = Creator.new %>
            <%= simple_form_for @new_creator, url: creators_path do |form| %>
              <div class="stuff-wrapper" style="margin: 40px 20px;">
                <%= form.input :channel_url, required: true, as: :string, id: "form-input-no-border", label: false, placeholder: "https://www.youtube.com/channel/mychanel", input_html: {class:"stuff"}
                 %>
              </div>
              <div class="text-center">
                <%= form.button :submit, t('.submit'), class:"btn btn-primary" %>
              </div>
            <% end %>
          <% else %>
            <p><%= t('.user-not-allowed') %></p>
            <% if current_user.level == 0 %>
              <p><%= t('.hint-user-level0') %></p>
            <% elsif current_user.level == 1 || current_user.level == 2 %>
              <p><%= t('.hint-user-level12') %></p>
            <% elsif current_user.level == 3 %>
              <p><%= t('.hint-user-level3') %></p>
            <% end %>
            <%= render 'shared/progress', user: current_user %>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal"><%= t('.close-modal') %></button>
              <div class="btn btn-primary">
                <%= link_to t('.profile-path'), user_path(current_user) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
