<div class="navbar-creators">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-creators-brand" do %>
    <%= cl_image_tag asset_url("logo-inline-yellow.svg"), class: "hidden-xs"  %>
    <%= cl_image_tag asset_url("tagline-only-yellow.svg"), class: "hidden-sm hidden-md hidden-lg"  %>
  <% end %>



  <!-- Right Navigation -->
  <div class="navbar-creators-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->

      <%= link_to t('.add-creator'), "#creator-modal", "data-toggle" => "modal", class: "navbar-creators-item navbar-creators-link" %>
      <%= render 'shared/modal_creator' %>
      <%= link_to t('.see-all-creators'), search_path, class: "navbar-creators-item navbar-creators-link" %>
      <%#= link_to "My page", user_path(current_user), class: "navbar-creators-item navbar-creators-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-creators-item">
        <div class="dropdown">
          <%= cl_image_tag current_user.avatar.url, class: "avatar dropdown-toggle", id: "navbar-creators-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-creators-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t('.all-creators'), search_path, class: "navbar-creators-item navbar-creators-link" %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-creators-item navbar-creators-link" %>
      <!-- Signup link (when logged out) -->
      <%= link_to t(".sign_up", default: "Sign-up"), new_user_registration_path, class: "navbar-creators-item navbar-creators-link" %>
    <% end %>
  </div>
  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-creators-item navbar-xs-menu hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-creators-dropdown-menu">
        <% if user_signed_in? %>
          <li>
            <!-- NEED TO ADD THE BTN TO add a creator, WITHOUT a modal. -->
          </li>
          <li>
            <%= link_to t('.all-creators'), search_path, class: "navbar-creators-item navbar-creators-link" %>
          </li>
          <!-- NEED TO ADD THE BTN TO see last week winner. NEEDS A NEW PAGE?? -->
          <li>
            <%= link_to t('.profile'), user_path(current_user), class: "navbar-creators-item navbar-creators-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

