<!-- WARNING : Change popover values manually if needed -->

<div class="steps">
    <ul class="steps-container">
        <li style="width:25%;" class="<%= 'activated' if user.level >= 0 %>" id="<%= 'current' if user.level == 0 %>">
            <div class="step">
              <a href="#" title="<%= t('.popover-title') %>" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="<%= t('.first-step-content') %>">
                <div class="step-image"><span></span></div>
                <div class="step-name"><%= t('.first-step-name') %></div>
              </a>
            </div>
        </li>
        <li style="width:25%;" class="<%= 'activated' if user.level >= 1 %>" id="<%= 'current' if user.level == 1 %>">
            <div class="step">
              <a href="#" title="<%= t('.popover-title') %>" data-toggle="popover" data-html=true data-placement="bottom" data-trigger="hover" data-content="<%= t('.second-step-content') %>">
                <div class="step-image"><span></span></div>
                <div class="step-name"><%= t('.second-step-name') %></div>
              </a>
            </div>
        </li>
        <li style="width:25%;" class="<%= 'activated' if user.level >= 2 %>" id="<%= 'current' if user.level == 2 %>">
            <div class="step">
              <a href="#" title="<%= t('.popover-title') %>" data-toggle="popover" data-html=true data-placement="bottom" data-trigger="hover"
                data-content="<%= t('.third-step-content') %>">
                <div class="step-image"><span></span></div>
                <div class="step-name"><%= t('.third-step-name') %></div>
              </a>
            </div>
        </li>
        <li style="width:25%;" class="<%= 'activated' if user.level >= 3 %>" id="<%= 'current' if user.level == 3 %>">
            <div class="step">
              <a href="#" title="<%= t('.popover-title') %>" data-toggle="popover" data-html=true data-placement="bottom" data-trigger="hover" data-content="<%= t('.fourth-step-content') %>">
                <div class="step-image"><span></span></div>
                <div class="step-name"><%= t('.fourth-step-name') %></div>
              </a>
            </div>
        </li>
    </ul>
    <% @width = 0 %>
    <% case user.level %>
    <% when 0 %>
      <% @width = "width:25%;" %>
    <% when 1 %>
      <% @width = "width:50%;" %>
    <% when 2 %>
      <% @width = "width:75%;" %>
    <% when 3 %>
      <% @width = "width:100%;" %>
    <% end %>
    <div class="step-bar" style="<%= @width %>"></div>
</div>
