<div class="beta-tip text-center">
  <h1><%= link_to t('.beta-tip'), 'https://insights.hotjar.com/s?siteId=874983&surveyId=53050', target: "_blank"  %></h1>
</div>
<div class="container">
  <h1 style="text-align: center"> <%= t('.about-title') %></h1>
  <div class="description-about text-justify">

    <div class="about-paragraph">
      <%= t('.about-goal_html') %>
    </div>
    <div class="explanations-block ">
      <div class="about-paragraph">
        <%= t('.explanations-intro') %>
        <ul class="explanations-list">
          <li><%= t('.explanations-ranking-html') %></li>
          <li><%= t('.explanations-creator-html') %></li>
          <li><%= t('.explanations-upvote-html') %></li>
          <br>
          <li><%= t('.explanations-add-html') %></li>
        </ul>


      </div>
      <div class="about-paragraph">
        <%= t('.about-recognition_html') %>
        <br>
        <%= t('.about-selection') %>
        <i class="fas fa-star team-choice-star" data-toggle="tooltip" data-placement="top" title= "<%= t('.team-choice') %>"></i>
      </div>
    </div>
    <div class="about-paragraph">
      <%= t('.about-beta_html') %>
      <%= t('.about-mail_html') %>
      <%= mail_to "feedback@rising-creators.com", "feedback@rising-creators.com", subject: t('.mail-subject') %>.
      <div class= "text-center about-love"><strong><%= t('.about-love') %></strong></div>
    </div>
  </div>
  <h2 style="text-align: center"> <%= t('.about-team') %></h2>
  <div class="about-team">
    <div class="about-paragraph">
      <%= t('.about-intro') %>
    </div>
    <div class="row">
      <!-- ONE CARD -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card card-turquoise card-about">
          <div class="avatar-about">
            <%= link_to(user_path(@alex)) do %>
              <%= image_tag @alex.avatar, alt: @alex.username, class: "avatar-about"%>
            <% end %>
          </div>
          <div class="name-about">
            <%= link_to @alex.username, user_path(@alex), class: "name-about" %>
          </div>
          <div class="desc-about">
            <p>
              <%= t('.about-alex-html') %>
            </p>
          </div>
          <div class="favorites-title-about">
            <%= t('.about-favorites') %>
          </div>
          <div class="favorites-about">
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Vlogs">
              🤳
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Gaming">
               🎮
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Travels">
               🗺
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Tech">
               🤖
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Science">
               🔬
            </div>
          </div>
        </div>
      </div>
      <!-- ONE CARD -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card card-turquoise card-about">
          <div class="avatar-about">
            <%= link_to(user_path(@alexis)) do %>
              <%= image_tag @alexis.avatar, alt: @alexis.username, class: "avatar-about"%>
            <% end %>
          </div>
          <div class="name-about">
            <%= link_to @alexis.username, user_path(@alexis), class: "name-about" %>
          </div>
          <div class="desc-about">
            <p>
              <%= t('.about-alexis') %>
            </p>
          </div>
          <div class="favorites-title-about">
            <%= t('.about-favorites') %>
          </div>
          <div class="favorites-about">
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Talks">
               🎤
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Sport">
               ⚽️
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Tech">
               🤖
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Science">
               🔬
            </div>
          </div>
        </div>
      </div>
      <!-- ONE CARD -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card card-turquoise card-about">
          <div class="avatar-about">
            <%= link_to(user_path(@benoit)) do %>
              <%= image_tag @benoit.avatar, alt: @benoit.username, class: "avatar-about"%>
            <% end %>
          </div>
          <div class="name-about">
            <%= link_to @benoit.username, user_path(@benoit), class: "name-about" %>
          </div>
          <div class="desc-about">
            <p>
              <%= t('.about-benoit-html') %>
            </p>
          </div>
          <div class="favorites-title-about">
            <%= t('.about-favorites') %>
          </div>
          <div class="favorites-about">
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Entrepreneurship">
              🚀
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Popularization">
               🔍
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Web Culture">
               🌐
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Tech">
               🤖
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Animated">
               🐌
            </div>
          </div>
        </div>
      </div>
      <!-- ONE CARD -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
        <div class="card card-turquoise card-about">
          <div class="avatar-about">
            <%= link_to(user_path(@hugo)) do %>
              <%= image_tag @hugo.avatar, alt: @hugo.username, class: "avatar-about"%>
            <% end %>
          </div>
          <div class="name-about">
            <%= link_to @hugo.username, user_path(@hugo), class: "name-about" %>
          </div>
          <div class="desc-about">
            <p>
              <%= t('.about-hugo') %>
            </p>
          </div>
          <div class="favorites-title-about">
            <%= t('.about-favorites') %>
          </div>
          <div class="favorites-about">
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Sea">
              🌊
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Sea">
               🌊
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Sea">
               🌊
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Sea">
               🌊
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Sea">
               🌊
            </div>
          </div>
        </div>
      </div>
      <!-- ONE CARD -->
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-0 col-md-4 ">
        <div class="card card-turquoise card-about">
          <div class="avatar-about">
            <%= link_to(user_path(@maximilien)) do %>
              <%= image_tag @maximilien.avatar, alt: @maximilien.username, class: "avatar-about"%>
            <% end %>
          </div>
          <div class="name-about">
            <%= link_to @maximilien.username, user_path(@maximilien), class: "name-about" %>
          </div>
          <div class="desc-about">
            <p>
              <%= t('.about-max-html') %>
            </p>
          </div>
          <div class="favorites-title-about">
            <%= t('.about-favorites') %>
          </div>
          <div class="favorites-about">
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Vlogs">
              🤳
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Comedy">
               😂
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Travels">
               🗺
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Tech">
               🤖
            </div>
            <div class="cat-about" data-toggle="tooltip" data-placement="bottom" title="Entrepreneurship">
               🚀
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="copyright-icons">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
