
<div class="beta-tip text-center">
  <h1><%= link_to t('.beta-tip'), about_path  %></h1>
</div>
<div class="container">
  <%= render 'shared/showcased-card' %>
  <div class="content-homepage" id="homepage">
    <div class="container-rankings card card-gold">
      <div class="current-batch">
        <div class="title-current-batch">
          <% if Batch.current_batch.nil? || Batch.all.empty? %>
            <h1> <%= t('.batch-empty') %> </h1>
          <% else %>
            <h2 style= "margin-bottom: 0px"> <%= t('.title') %></h2>
        </div>
        <div class="tagline-last-batch">
          <%= t('.tagline-current-batch') %>
        </div>
          <div class="current-ranking">
            <ul class="list-unstyled">
              <% @ordered_creators_current_batch.each do |creator| %>
                <%= render 'shared/creator', creator: creator %>
              <% end %>
            </ul>
          </div>
      </div>
        <div class="last-batch">
          <h2><%= t('.title-last-batch') %></h2>
          <div class="tagline-last-batch">
            <%= t('.tagline-last-batch') %>
          </div>
          <div class="last-ranking">
            <ul class="list-unstyled">
              <% @ordered_creators_last_batch.each do |creator| %>
                <%= render 'shared/creator', creator: creator %>
              <% end %>
            </ul>
            <div class="btn btn-info btn-lg">
              <%= link_to t('.all-btn'), search_path %>
            </div>
          </div>
        </div>

        <% end %>

    </div>
    <div class="container-menu">
      <div class="btn btn-primary btn-lg btn-submit">
        <% if user_signed_in? %>
          <%= link_to "Add a new creator", "#creator-modal", "data-toggle" => "modal" %>
          <%= render 'shared/modal_creator' %>
        <% else %>
          <%= link_to "Add a new creator", new_user_session_path %>
        <% end %>
      </div>

      <div class="teaser-next-week card card-charcoal">
        <span><%= t('.teaser-next-week') %> <strong><%= pluralize @next_creators, t('.teaser-next-week-plural') %></strong> <%= t('.in') %></span>
        <div id="countholder">
         <div class="days" ><strong><span id="days"></span></strong><div><%= t('.days') %></div></div>
         <div class="hours"><strong><span id="hours"></span></strong><div><%= t('.hours') %></div></div>
         <div class="minutes"><strong><span id="minutes"></strong></span><div><%= t('.minutes') %></div></div>
        </div>
      </div>
      <% unless @winners_last_batch == [] %>
        <div class="ranking-last-week card card-charcoal">
          <h5 style="text-align: center"> <%= t('.last-winners') %> </h5>
          <ul class="list-unstyled">
            <!-- 1er place -->
            <div class="position-last-week">
              <li>
                <%#= "#{@winners_last_batch.index(winner) + 1}" %>
                <%= image_tag "gold-medal.svg", class: "medal" %> - <%= link_to @winners_last_batch.first.youtube_name, creator_path(@winners_last_batch.first), class: "winner-last-batch"  %>
              </li>
            </div>
            <!-- 2e place -->
            <div class="position-last-week">
              <li>
                <%#= "#{@winners_last_batch.index(winner) + 1}" %>
                <%= image_tag "silver-medal.svg", class: "medal" %> - <%= link_to @winners_last_batch[1].youtube_name, creator_path(@winners_last_batch[1]), class: "winner-last-batch"  %>
              </li>
            </div>
            <!-- 3e place -->
            <div class="position-last-week">
              <li>
                <%#= "#{@winners_last_batch.index(winner) + 1}" %>
                <%= image_tag "bronze-medal.svg", class: "medal" %> - <%= link_to @winners_last_batch.last.youtube_name, creator_path(@winners_last_batch.last), class: "winner-last-batch"  %>
              </li>
            </div>
          </ul>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <%= render 'shared/user-level-card', class: "level-up-card" %>
      <% end %>
    </div>
  </div>
</div>



