
<div class="container">
  <%= render 'shared/showcased-card' %>
  <div class="content-homepage" id="homepage">
    <div class="container-rankings card card-gold">
      <div class="current-batch">
        <div class="title-current-batch">
          <% if Batch.current_batch.nil? || Batch.all.empty? %>
            <h1> Please check back later! A new batch will be released soon.</h1>
          <% else %>
            <h1 style= "margin-bottom: 0px">Discover this week's new Creators</h1>
        </div>
        <div class="tagline-last-batch">
          Here are some brand new Creators! Upvote and make them reach the top.
        </div>
          <div class="current-batch">
            <ul class="list-unstyled">
              <% @ordered_creators_current_batch.each do |creator| %>
                <%= render 'shared/creator', creator: creator %>
              <% end %>
            </ul>
          </div>
      </div>
        <div class="last-batch">
          <h2>Last week's Creators</h2>
          <div class="tagline-last-batch">
            Missed last week's ranking? Check them out!
          </div>
          <div class="last-ranking">
            <ul class="list-unstyled">
              <% @ordered_creators_last_batch.each do |creator| %>
                <%= render 'shared/creator', creator: creator %>
              <% end %>
            </ul>
            <div class="btn btn-info btn-lg">
              <%= link_to "See all creators", search_path %>
            </div>
          </div>
        </div>

        <% end %>

    </div>
    <div class="container-menu">
      <div class="btn btn-primary btn-lg btn-submit">
        <% if user_signed_in? %>
          <%= link_to "Add a new creator", "#creator-modal", "data-toggle" => "modal" %>
          <%= render 'shared/modal_creator' %>
        <% else %>
          <%= link_to "Add a new creator", new_user_session_path %>
        <% end %>
      </div>

      <div class="teaser-next-week card card-charcoal">
        <span>Discover <%= pluralize @next_creators, " new Creator" %> in</span>
        <div id="countholder">
         <div class="days" ><span id="days"></span><div>Days</div></div>
         <div class="hours"><span id="hours"></span><div>Hours</div></div>
         <div class="minutes"><span id="minutes"></span><div>Minutes</div></div>
        </div>
      </div>
      <% unless @winners_last_batch == [] %>
        <div class="ranking-last-week card card-charcoal">
          <h5> Last week's winners </h5>
          <ul class="list-unstyled">
            <% @winners_last_batch.each do |winner| %>
              <div class="position-last-week">
                <li>
                  <%= "#{@winners_last_batch.index(winner) + 1}" %> - <%= winner.youtube_name %> <br>
                  <%= link_to(creator_path(winner)) do %>
                    <%= cl_image_tag winner.avatar_photo, class: "avatar-creator"%>
                  <% end %>
                </li>
              </div>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <%= render 'shared/user-level-card' %>
      <% end %>
    </div>
  </div>
</div>



