<div class="container">
  <% unless @showcased_creator.nil? %>
    <div class="showcased">
      <div class="card card-showcased">
        <!-- <div class="editors-choice">
          Editor's choice
        </div> -->
        <i class="fas fa-star"></i>
        <div class="showcased-avatar-tags">
          <%= link_to(creator_path(@showcased_creator)) do %>
            <%= image_tag @showcased_creator.avatar_photo, class: "avatar-showcased-creator"%>
          <% end %>
          <div class="showcased-tags">
            <ul class="list-unstyled list-tags" style="text-align: center">
              <% @showcased_creator.tag_list.first(5).each do |tag| %>
                <li>
                  <% if tag.length < 13 %>
                    <%= "##{tag.capitalize}" %>
                  <% else %>
                    <%= "##{tag.capitalize.first(13)}" %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="showcased-infos">
          <%= link_to @showcased_creator.youtube_name , creator_path(@showcased_creator), class: "showcased-name" %>
          <div class="showcased-description">
            <i class="fas fa-quote-left"></i>
            <%= @showcased_creator.description.first(350) %>
            <i class="fas fa-quote-right"></i>
          </div>
          <div class="showcased-digger">
            discovered by <%= @showcased_creator.user.username %>
            <%= link_to(user_path(@showcased_creator.user)) do %>
              <%= image_tag @showcased_creator.user.avatar, class: "avatar-showcased-digger"%>
            <% end %>
          </div>
        </div>
        <div class="showcased-video">
          <iframe class="ytplayer-showcased" type="text/html"
          src="http://www.youtube.com/embed/<%= @showcased_creator.video_youtube_id %>?autoplay=0"
          frameborder="0">
          </iframe>
        </div>
      </div>
    </div>
  <% end %>
  <div class="content-homepage">
    <div class="container-rankings card">
      <div class="title-current-batch">
        <% if Batch.current_batch.nil? || Batch.all.empty? %>
          <h1> Please check back later! A new batch will be released soon.</h1>
        <% else %>
          <h1>Discover this week's new Creators</h1>
      </div>
          <div class="current-batch">
            <ul class="list-unstyled">
              <% @ordered_creators_current_batch.each do |creator| %>
                <%= render 'creator', :creator => creator %>
              <% end %>
            </ul>
          </div>
          <div class="last-batch">
            <h2>Last week's Creators</h2>
              <div class="tagline-last-batch">Missed last week's batch? Check them out!</div>
            <ul class="list-unstyled">
              <% @ordered_creators_last_batch.each do |creator| %>
                <%= render 'creator', :creator => creator %>
              <% end %>
            </ul>
          </div>
        <% end %>

    </div>
    <div class="container-menu">
      <div class="btn btn-primary btn-lg btn-submit-home">
        <%= link_to "Add a new creator", "#creator-modal", "data-toggle" => "modal", class: '' %>
        <%= render 'modal_creator' %>
      </div>
      <div class="btn btn-warning btn-lg btn-submit-home">
        <%= link_to "See all creators", creators_path %>
      </div>
      <div class="ranking-last-week card">
        <h5> Last week's winners </h5>
          <ul class="list-unstyled">
            <% @winners_last_batch.each do |winner| %>
              <div class="position-last-week">
                <li>
                  <%= "#{@winners_last_batch.index(winner) + 1}" %> - <%= winner.youtube_name %>
                  <%= link_to(creator_path(winner)) do %>
                    <%= image_tag winner.avatar_photo, class: "avatar-creator"%>
                  <% end %>
                </li>
              </div>
            <% end %>
          </ul>
      </div>
    </div>
  </div>


</div>
