<div class="container">
  <% unless @showcased_creator.nil? %>
    <div class="showcased">
      <div class="card card-showcased">
        <div class="showcased-avatar-tags">
          <%= cl_image_tag @showcased_creator.avatar_photo, class: "avatar-showcased-creator" %>
          <div class="showcased-tags">
            <ul class="list-unstyled list-tags">
              <% @showcased_creator.tag_list.each do |tag| %>
                <li> <%= "##{tag}" %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="showcased-infos">
          <div class="showcased-name">
            <%= @showcased_creator.youtube_name %>
          </div>
          <div class="showcased-description">
            <i class="fas fa-quote-left"></i>
            <%= @showcased_creator.description %>
            <i class="fas fa-quote-right"></i>
          </div>
          <div class="showcased-digger">
            discovered by <%= @showcased_creator.user.username %>
            <%= cl_image_tag @showcased_creator.user.avatar, class: "avatar-showcased-digger" %>
          </div>
        </div>
        <div class="showcased-video">
          <iframe class="ytplayer-showcased" type="text/html"
          src="http://www.youtube.com/embed/<%= @showcased_creator.video_youtube_id %>?autoplay=0"
          frameborder="0">
          </iframe>
        </div>
      </div>
    </div>
  <% end %>



<% if Batch.all.empty? %>
  <h2> Please check back later! A new batch will be released soon.</h2>
<% else %>
  <h1>Current Batch</h1>
  <ul>
    <% @ordered_creators_current_batch.each do |creator| %>
      <li>
        <%= link_to creator.youtube_name, creator_path(creator.id)  %> || found by <%= creator.user.username %> || <%= creator.upvotes.length %> ||
        <% if user_signed_in? %>
          <% upvote_for_creator = current_user.upvotes.where("creator_id = #{creator.id}").first %>
          <% if upvote_for_creator.nil? %>
            <%= link_to 'Upvote', creator_upvotes_path(creator), method: :post %>
          <% else upvote_for_creator %>
            <%= link_to 'Upvote', upvote_path(upvote_for_creator), method: :delete %>
          <% end %>
        <% else %>
            <%= link_to 'Upvote', new_user_session_path %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <h2>Batch of last week</h2>
  <ul>
    <% @ordered_creators_last_batch.each do |creator| %>
      <li> <%= creator.youtube_name %> || found by <%= creator.user.username %> || <%= creator.upvotes.length %></li>
    <% end %>
  </ul>
  <%= link_to "Add a new creator", new_creator_path %>
<% end %>



</div>






