<div class="container">
  <% unless @showcased_creator.nil? %>
    <div class="showcased">
      <div class="card card-showcased">
        <i class="fas fa-star"></i>
        <div class="showcased-avatar-tags">
          <%= link_to(creator_path(@showcased_creator)) do %>
            <%= image_tag @showcased_creator.avatar_photo, class: "avatar-showcased-creator"%>
          <% end %>
          <div class="showcased-tags">
            <ul class="list-unstyled list-tags" style="text-align: center">
              <% @showcased_creator.tag_list.first(7).each do |tag| %>
                <li>
                  <% if tag.length < 13 %>
                    <%= "##{tag.capitalize}" %>
                  <% else %>
                    <%= "##{tag.capitalize.first(13)}" %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="showcased-infos">
          <%= link_to @showcased_creator.youtube_name , creator_path(@showcased_creator), class: "showcased-name" %>
          <div class="showcased-description">
            <i class="fas fa-quote-left"></i>
            <%= @showcased_creator.description %>
            <i class="fas fa-quote-right"></i>
          </div>
          <div class="showcased-digger">
            discovered by <%= @showcased_creator.user.username %>
            <%= link_to(user_path(@showcased_creator.user)) do %>
              <%= image_tag @showcased_creator.user.avatar, class: "avatar-showcased-digger"%>
            <% end %>
          </div>
        </div>
        <div class="showcased-video">
          <iframe class="ytplayer-showcased" type="text/html"
          src="http://www.youtube.com/embed/<%= @showcased_creator.video_youtube_id %>?autoplay=0"
          frameborder="0">
          </iframe>
        </div>
      </div>
    </div>
  <% end %>
  <div class="content-homepage">
    <div class="container-rankings card">
      <div class="title-current-batch">
        <% if Batch.current_batch.nil? || Batch.all.empty? %>
          <h1> Please check back later! A new batch will be released soon.</h1>
        <% else %>
          <h1>Discover this week's new Creators</h1>
      </div>
          <div class="current-batch">
            <ul class="list-unstyled">
              <% @ordered_creators_current_batch.each do |creator| %>
                <li class="card-creator">
                  <div class="creator-info">
                    <div class="card-avatar">
                      <%= link_to(creator_path(creator)) do %>
                        <%= image_tag creator.avatar_photo, class: "avatar-creator"%>
                      <% end %>
                    </div>
                    <div class="card-content">
                      <div class="creator-name">
                        <%= link_to creator.youtube_name, creator_path(creator.id), class: "creator-name" %>
                      </div>
                      <div class="card-sub-content">
                        <div class="creator-tags">
                          <ul class="list-unstyled creator-tags">
                            <% creator.tag_list.first(3).each do |tag| %>
                              <li>
                                <% if tag.length < 13 %>
                                  <%= "##{tag.capitalize}" %>
                                <% else %>
                                  <%= "##{tag.capitalize.first(13)}" %>
                                <% end %>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                        <div class="creator-description">
                          <%= creator.description.first(100) %>...
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-upvote btn btn-primary">
                    <% if user_signed_in? %>
                      <% upvote_for_creator = current_user.upvotes.where("creator_id = #{creator.id}").first %>
                      <% if upvote_for_creator.nil? %>
                        <%= link_to "Upvote (#{creator.upvotes.length})", creator_upvotes_path(creator), method: :post %>
                      <% else upvote_for_creator %>
                        <%= link_to "Upvote (#{creator.upvotes.length})", upvote_path(upvote_for_creator), method: :delete %>
                      <% end %>
                    <% else %>
                      <%= link_to "Upvote (#{creator.upvotes.length})", new_user_session_path %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="last-batch">
            <h2>Last week's Creators</h2>
              <div class="tagline-last-batch">Missed last week batch? Check them out!</div>
            <ul class="list-unstyled">
              <% @ordered_creators_last_batch.each do |creator| %>
                <li class="card-creator">
                  <div class="creator-info">
                    <div class="card-avatar">
                      <%= link_to(creator_path(creator)) do %>
                        <%= image_tag creator.avatar_photo, class: "avatar-creator"%>
                      <% end %>
                    </div>
                    <div class="card-content">
                      <div class="creator-name">
                        <%= link_to creator.youtube_name, creator_path(creator.id), class: "creator-name" %>
                      </div>
                      <div class="card-sub-content">
                        <div class="creator-tags">
                          <ul class="list-unstyled creator-tags">
                            <% creator.tag_list.first(3).each do |tag| %>
                              <li>
                                <% if tag.length < 13 %>
                                  <%= "##{tag.capitalize}" %>
                                <% else %>
                                  <%= "##{tag.capitalize.first(13)}" %>
                                <% end %>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                        <div class="creator-description">
                          <%= creator.description.first(100) %>...
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-upvote btn btn-primary">
                    <% if user_signed_in? %>
                      <% upvote_for_creator = current_user.upvotes.where("creator_id = #{creator.id}").first %>
                      <% if upvote_for_creator.nil? %>
                        <%= link_to "Upvote (#{creator.upvotes.length})", creator_upvotes_path(creator), method: :post %>
                      <% else upvote_for_creator %>
                        <%= link_to "Upvote (#{creator.upvotes.length})", upvote_path(upvote_for_creator), method: :delete %>
                      <% end %>
                    <% else %>
                      <%= link_to "Upvote (#{creator.upvotes.length})", new_user_session_path %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
    </div>
    <div class="container-menu">
      <div class="btn btn-primary btn-lg btn-submit-home">
        <%= link_to "Add a new creator", "#creator-modal", "data-toggle" => "modal", class: '' %>
        <%= render 'modal_creator' %>
      </div>
      <div class="btn btn-info btn-lg btn-all-creators-home">
        <%= link_to "See all creators", creators_path %>
      </div>
    </div>
  </div>


</div>
