<div class="wrapper">
  <div class="container">
    <div class="banner" style="background-image: #EEEEEE">
      <div class="banner-content" >
        <%= button_to 'Back', root_path(@creator) %>
        <%#= @creator.avatar %>
        <h1><%= @creator.youtube_name %></h1>
        <div class="upvotes-content">
          <div class="counter-upvotes">
            <%= @creator.upvotes.length %>
          </div>
          <div class="btn-upvotes">
            <% upvote_for_creator = current_user.upvotes.where("creator_id = #{@creator.id}").first %>
            <% if upvote_for_creator.nil? %>
              <%= button_to 'Upvote', creator_upvotes_path(@creator) %>
            <% else upvote_for_creator %>
              <%= link_to 'Upvote', creator_upvote_path(upvote_for_creator), method: :delete %>
            <% end %>
          </div>
        </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="description">
        <div style="margin: auto">
          <p>"<%= @creator.description %>"</p>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="description">
        <div style="margin: auto">

          <iframe id="ytplayer" type="text/html" width="640" height="360"
          src="http://www.youtube.com/embed/<%= @creator.video_youtube_id %>?autoplay=1&origin=http://example.com"
          frameborder="0"/>

          </div>
        </div>

      </div>


    </div>
  </div>
</div>



