
<% content_for :title_tab, "#{@creator.youtube_name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_title, "#{@creator.youtube_name.capitalize} is now on #{DEFAULT_META["meta_product_name"]}. Check it out!" %>
<% content_for :meta_description, "#{@creator.description.first(100)}... - found by #{@creator.user.username}" %>
<% # content_for :meta_image, cl_image_tag(@creator.avatar_photo) %>

<!-- Render the modal here when user is signed out and trying to upvote
to avoid any class inheritance that destroys modal style -->
<%= render 'shared/modal_upvote_disconnected' %>


<% if @creator.batch == Batch.current_batch  %>
  <div class="upvote-tip text-center">
    <h1>Help the Creator reach the top of this week's ranking!</h1>
  </div>
<% elsif @creator.batch == Batch.next_batch %>
  <div class="upvote-tip text-center">
    <h1>
      This Creator will be part of next week's ranking. Come vote later!
    </h1>
  </div>
<% end %>

<div class="show-card" id="show-creator" >

  <!-- <div class="back-btn">
    <%= link_to '', root_path(@creator), class: "fas fa-arrow-left" %>
  </div> -->
  <div class="creator">
    <%= cl_image_tag @creator.avatar_photo, class: "avatar-large"%>
    <div class="showcased-name mobile-creator-name">
      <%= @creator.youtube_name %>
    </div>
    <div class="upvotes-content">
      <% if @creator.batch == Batch.current_batch  %>
        <div class="btn btn-primary btn-upvote-no-padding" id="upvote-btn-creator-<%= @creator.id %>" >
          <%= render 'shared/upvote_full_btn', creator: @creator %>
        </div>
      <% elsif @creator.batch == Batch.next_batch %>
      <% else %>
        <div class="btn btn-primary btn-upvote-no-padding" id="upvote-btn-creator-<%= @creator.id %>" >
          <%= render 'shared/upvote_full_btn', creator: @creator %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="wrapper">
    <div class="back-show ">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9  main">
      <div class="card description-video card-gold">
        <div class="card description">
          <div class= "quote" style=" font-size: 25px">
            <i class="fas fa-quote-left"></i> <%= @creator.description %> <i class="fas fa-quote-right"></i>
          </div>
          <div class="discovered-by">
            découvert par <%= @creator.user.username %>
            <%= link_to(user_path(@creator.user)) do %>
              <%= image_tag @creator.user.avatar, class: "avatar-showcased-digger"%>
            <% end %>
          </div>
        </div>
        <div class="videoWrapper">
          <iframe class="ytplayer-showcased" type="text/html"
          src="https://www.youtube.com/embed/<%= @creator.video_youtube_id %>?autoplay=0"
          frameborder="0" width="100%" heigth= "100%" >
          </iframe>
          <div class="btn-more">
          <%= link_to " Plus sur Youtube...", @creator.channel_url, :target => "_blank" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 main2">
      <div class="card info card-charcoal card-padding-mobile">
        <div class="tags ">
          <% @creator.tag_list.each do |tag| %>
              <ul><strong>#<%= tag %></strong>
            </ul>
          <% end %>
        </div>
        <div class="followers ">
          <ul><strong><%= "#{@creator.nb_followers/1000}" %>k </strong>followers</ul>
          <ul><strong><%= @creator.nb_videos %></strong> vidéos</ul>
        </div>
        <div class="social ">
         <!--  <p class="subtitle-info"><strong>Social</strong></p>
          <ul><i class="fab fa-instagram"></i> Instagram</ul>
          <ul><i class="fab fa-facebook-square"></i> Facebook</ul>
          <ul><i class="fab fa-twitter-square"></i> Twitter</ul> -->
          <div class="btn-subscribe ">
            <!-- <ul class="g-ytsubscribe" data-channelid="UChH5L8Od81YohhlVWGdDyQg" data-count="hidden" target="_blank"></ul> -->
            <div class="youtube-btn1">
              <ul class="g-ytsubscribe" data-channelid="<%= @creator.channel_id %>" data-count="hidden"></ul>
              </div>
              <div class="youtube-btn2">
                <a href= "<%= @creator.channel_url %>?sub_confirmation=1" target="_blank"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

  <script src="https://apis.google.com/js/platform.js"></script>

